// Definir paletas de color personalizadas
@use 'sass:map';



// Exportar variables CSS para usar en HTML
:root {
  // Variables CSS para las muestras de paleta primary
  --primary-0: #{map.get($primary-palette, 0)};
  --primary-10: #{map.get($primary-palette, 10)};
  --primary-20: #{map.get($primary-palette, 20)};
  --primary-25: #{map.get($primary-palette, 25)};
  --primary-30: #{map.get($primary-palette, 30)};
  --primary-35: #{map.get($primary-palette, 35)};
  --primary-40: #{map.get($primary-palette, 40)};
  --primary-50: #{map.get($primary-palette, 50)};
  --primary-60: #{map.get($primary-palette, 60)};
  --primary-70: #{map.get($primary-palette, 70)};
  --primary-80: #{map.get($primary-palette, 80)};
  --primary-90: #{map.get($primary-palette, 90)};
  --primary-95: #{map.get($primary-palette, 95)};
  --primary-98: #{map.get($primary-palette, 98)};
  --primary-99: #{map.get($primary-palette, 99)};
  --primary-100: #{map.get($primary-palette, 100)};

  // Variables CSS para las muestras de paleta secondary
  --secondary-0: #{map.get($secondary-palette, 0)};
  --secondary-10: #{map.get($secondary-palette, 10)};
  --secondary-20: #{map.get($secondary-palette, 20)};
  --secondary-25: #{map.get($secondary-palette, 25)};
  --secondary-30: #{map.get($secondary-palette, 30)};
  --secondary-35: #{map.get($secondary-palette, 35)};
  --secondary-40: #{map.get($secondary-palette, 40)};
  --secondary-50: #{map.get($secondary-palette, 50)};
  --secondary-60: #{map.get($secondary-palette, 60)};
  --secondary-70: #{map.get($secondary-palette, 70)};
  --secondary-80: #{map.get($secondary-palette, 80)};
  --secondary-90: #{map.get($secondary-palette, 90)};
  --secondary-95: #{map.get($secondary-palette, 95)};
  --secondary-98: #{map.get($secondary-palette, 98)};
  --secondary-99: #{map.get($secondary-palette, 99)};
  --secondary-100: #{map.get($secondary-palette, 100)};

  // Variables CSS para las muestras de paleta tertiary
  --tertiary-0: #{map.get($tertiary-palette, 0)};
  --tertiary-5: #{map.get($tertiary-palette, 5)};
  --tertiary-10: #{map.get($tertiary-palette, 10)};
  --tertiary-15: #{map.get($tertiary-palette, 15)};
  --tertiary-20: #{map.get($tertiary-palette, 20)};
  --tertiary-25: #{map.get($tertiary-palette, 25)};
  --tertiary-30: #{map.get($tertiary-palette, 30)};
  --tertiary-35: #{map.get($tertiary-palette, 35)};
  --tertiary-40: #{map.get($tertiary-palette, 40)};
  --tertiary-45: #{map.get($tertiary-palette, 45)};
  --tertiary-50: #{map.get($tertiary-palette, 50)};
  --tertiary-55: #{map.get($tertiary-palette, 55)};
  --tertiary-60: #{map.get($tertiary-palette, 60)};
  --tertiary-65: #{map.get($tertiary-palette, 65)};
  --tertiary-70: #{map.get($tertiary-palette, 70)};
  --tertiary-75: #{map.get($tertiary-palette, 75)};
  --tertiary-80: #{map.get($tertiary-palette, 80)};
  --tertiary-85: #{map.get($tertiary-palette, 85)};
  --tertiary-90: #{map.get($tertiary-palette, 90)};
  --tertiary-95: #{map.get($tertiary-palette, 95)};
  --tertiary-98: #{map.get($tertiary-palette, 98)};
  --tertiary-99: #{map.get($tertiary-palette, 99)};
  --tertiary-100: #{map.get($tertiary-palette, 100)};
}
