/* You can add global styles to this file, and also import other style files */
@import 'color-palettes.scss';

html,
body {
  height: 100%;
}


/* Material Symbols */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

.mdc-button {
  border-radius: 0!important;
}

.mdc-button>.mdc-button__label {
  order: 1 !important;
}

.mdc-button>.mat-icon {
  order: 2 !important;
  margin-right: 0 !important;
}

.mat-mdc-unelevated-button>.mat-icon {
    margin-right: 0 !important;
    margin-left: 32px !important;
}

/* Tema claro - PRIMARY */
.mat-mdc-unelevated-button[color="primary"]:hover,
.mat-mdc-raised-button[color="primary"]:hover {
  background-color: var(--primary-65);
}

/* Tema oscuro - PRIMARY */
.dark-theme .mat-mdc-unelevated-button[color="primary"],
.dark-theme .mat-mdc-raised-button[color="primary"] {
  background-color: var(--primary-40);
}

.dark-theme .mat-mdc-unelevated-button[color="primary"]:hover,
.dark-theme .mat-mdc-raised-button[color="primary"]:hover {
  background-color: var(--primary-50);
}

/* Tema claro - SECONDARY */
.mat-mdc-unelevated-button[color="secondary"],
.mat-mdc-raised-button[color="secondary"] {
  background-color: var(--secondary-60)!important;
  color: var(--mat-sys-on-secondary);
}

.mat-mdc-unelevated-button[color="secondary"]:hover,
.mat-mdc-raised-button[color="secondary"]:hover {
  background-color: var(--secondary-65)!important;
}

.mat-mdc-outlined-button[color="secondary"] {
  background-color: transparent;
  color: var(--mat-sys-secondary);
  border-color: var(--mat-sys-secondary);
}

.mat-mdc-button[color="secondary"] {
  background-color: transparent;
  color: var(--mat-sys-secondary);
}

/* Tema oscuro - SECONDARY */
.dark-theme .mat-mdc-unelevated-button[color="secondary"],
.dark-theme .mat-mdc-raised-button[color="secondary"] {
  background-color: var(--secondary-40)!important;
}

.dark-theme .mat-mdc-unelevated-button[color="secondary"]:hover,
.dark-theme .mat-mdc-raised-button[color="secondary"]:hover {
  background-color: var(--secondary-50)!important;
}

/* Tema claro - TERTIARY */
.mat-mdc-unelevated-button[color="tertiary"],
.mat-mdc-raised-button[color="tertiary"] {
  background-color: var(--tertiary-60)!important;
  color: var(--mat-sys-on-tertiary);
}

.mat-mdc-unelevated-button[color="tertiary"]:hover,
.mat-mdc-raised-button[color="tertiary"]:hover {
  background-color: var(--tertiary-65)!important;
}

.mat-mdc-outlined-button[color="tertiary"] {
  background-color: transparent;
  color: var(--mat-sys-tertiary);
  border-color: var(--mat-sys-tertiary);
}

.mat-mdc-button[color="tertiary"] {
  background-color: transparent;
  color: var(--mat-sys-tertiary);
}

/* Tema oscuro - TERTIARY */
.dark-theme .mat-mdc-unelevated-button[color="tertiary"],
.dark-theme .mat-mdc-raised-button[color="tertiary"] {
  background-color: var(--tertiary-40)!important;
}

.dark-theme .mat-mdc-unelevated-button[color="tertiary"]:hover,
.dark-theme .mat-mdc-raised-button[color="tertiary"]:hover {
  background-color: var(--tertiary-50)!important;
}

/* En tema oscuro - texto blanco en todos los botones */
.dark-theme .mat-mdc-unelevated-button,
.dark-theme .mat-mdc-raised-button,
.dark-theme .mat-mdc-flat-button,
.dark-theme .mat-mdc-button {
  color: #ffffff;
}

.dark-theme .mat-mdc-unelevated-button[color="primary"],
.dark-theme .mat-mdc-raised-button[color="primary"],
.dark-theme .mat-mdc-unelevated-button[color="secondary"],
.dark-theme .mat-mdc-raised-button[color="secondary"],
.dark-theme .mat-mdc-unelevated-button[color="tertiary"],
.dark-theme .mat-mdc-raised-button[color="tertiary"] {
  color: #ffffff;
}
