/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}


/* Material Symbols */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

.mdc-button {
  border-radius: 0!important;
}

.mdc-button>.mdc-button__label {
  order: 1;
}

.mdc-button>.mat-icon {
  order: 2;
  margin-right: 0;
  margin-left:var(--mat-button-filled-icon-spacing, 8px)
}

.mat-mdc-unelevated-button>.mat-icon {
    margin-right: 0!important;
    margin-left: 32px!important;
}

