.app-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spacer {
    flex: 1 1 auto;
}

.nav-links {
    margin-left: 2rem;
    display: flex;
    gap: 0.5rem;
}

.active-link {
    background-color: rgba(255, 255, 255, 0.1);
}